/* body{
    background-color: rgb(45, 128, 252);
}
header{
    margin-left: 543px;
}
.main{
    height: 652px;
    width: 447px;
    box-shadow: 0 0 20px white;
    border: none;
    margin: 20px auto;
    border-radius: 20px;
}
.sub{
    margin: 24px;
    height: 415px;
    width: 368px;
}
.sub form{
   height: 200px;
   width: 300px;
   padding-top: 14px;
}
.sub label{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 28px;
    margin-top: 25px;
    font-size: 2rem;
    color: white;
}
.sub input{
    border: none;
    height: 40px;
    width: 225px;
    margin-left: 29px;
    border-radius: 7px;
}
.sub button{
    height: 50px;
    width: 351px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: #fc3D21;
    border: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 9px;
    font-weight: bold;
} */



html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: steelblue;
}

header{
    width: 230px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 230px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 0px;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 30px 2px whitesmoke;
}

label{
    color: #0B3D91;
    color: whitesmoke;
    font-size: 20px;
    margin-top: 15px; 
}

label:first-child{
    margin-top: 0;
}

input{
    border: 1px solid #0891b2;
    padding: 8px;
    border-radius: 5px;  
}

button{
    margin-top: 10px;
    padding: 12px 17px;
    border: none;
    background-color: #FC3D21;
    color: #ecfeff;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer; 
}

img{
    width: 140px
}